{**
 * Copyright (c) 2018 Wakers.cz
 *
 * @author Jiří Zapletal (http://www.wakers.cz, zapletal@wakers.cz)
 *
 *}

{block title}
    Přihlášení
{/block}

{block content}

<div class="user_login h-100 d-flex justify-content-center align-items-center">
    <div class="user_login_form">
        <h1 class="mb-4">Přihlášení uživatele</h1>

        {control userLoginForm}

    </div>
</div>